<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title class="text">
      Top 8 Favorite Song
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="new-background-color">
      <ion-title size="large">Music</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <div class="ion-text-center">
          <ion-card class="background-color">
            <ion-card-header>
              <img src="assets/morgan.jpg" alt="morgan" height="50%" width="50%">
              <ion-card-title class="card-title">Bandaid on a Bullet Hole</ion-card-title>
              <ion-card-subtitle class="sub">Morgan Wallen</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-center">
          <ion-card class="background-color">
            <ion-card-header>
              <img src="assets/kolohekai.jpg" alt="kolohekai" height="50%" width="50%">
              <ion-card-title class="card-title">Round and Around</ion-card-title>
              <ion-card-subtitle class="sub">Kolohe Kai</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>

      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-card class="background-color">
              <ion-card-header>
                <img src="assets/ruth.jpg" alt="ruth" height="50%" width="50%">
                <ion-card-title class="card-title">Dandelions</ion-card-title>
                <ion-card-subtitle class="sub">Ruth B.</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="ion-text-center">
            <ion-card class="background-color">
              <ion-card-header>
                <img src="assets/slander.jpg" alt="slander" height="50%" width="50%">
                <ion-card-title class="card-title">First Time</ion-card-title>
                <ion-card-subtitle class="sub">Seven Lions, SLANDER feat. Dylan Matthew</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-card class="background-color">
              <ion-card-header>
                <img src="assets/sia.jpg" alt="sia" height="50%" width="50%">
                <ion-card-title class="card-title">Snowman</ion-card-title>
                <ion-card-subtitle class="sub">Sia</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="ion-text-center">
            <ion-card class="background-color">
              <ion-card-header>
                <img src="assets/dirty.jpg" alt="dirty" height="50%" width="50%">
                <ion-card-title class="card-title">Die For You</ion-card-title>
                <ion-card-subtitle class="sub">Dirty Blond</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-card class="background-color">
              <ion-card-header>
                <img src="assets/six.jpg" alt="six" height="50%" width="50%">
                <ion-card-title class="card-title">Heart of Stone</ion-card-title>
                <ion-card-subtitle class="sub">Six, Natalie Paris</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>

        <ion-col>
          <div class="ion-text-center">
            <ion-card class="background-color">
              <ion-card-header>
                <img src="assets/lauren.jpg" alt="lauren" height="50%" width="50%">
                <ion-card-title class="card-title">You Say</ion-card-title>
                <ion-card-subtitle class="sub">Lauren Daigle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>

    </ion-row>
  </ion-grid>

</ion-content>
